<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * 
  
  
  
  * * * * * * * * * * * * * * * * * -->


  <div>
  
    
<div class="rowbar">
  
  <div class="column2bar" style="background-image:linear-gradient(rgb(113, 172, 182),lightgray);border-radius:  50px 50px 50px 50px;">
    <p style="font-size: 30px;font-family: 'Noto Sans JP', sans-serif; text-align: center;">Administration <br> Login</p><br>
    <br><br>
    <label for="name" style="text-align: center;margin-left: 125px; font-size: 25px;">UserName</label>
    <br>
    <input type="text" id = "username" placeholder="USERNAME" style="font-size: large;text-align: center; font-style: oblique;"/>
    <br>
    <label for="password" style="text-align: center;margin-left: 125px; font-size: 25px;">Password</label>
    <br>
    <input type="password"  id = "password" placeholder="PASSWORD" style="font-size: large;text-align: center; font-style: oblique" />
    <br>
    <a href="http://localhost:4201/">Submit</a>
    
      
    
  </div>
  
</div>
  




</div>




<router-outlet></router-outlet>